/* =============== Google Fonts =============== */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600&display=swap');

/* =============== Variables =============== */
:root {
    --header_height: 3rem;

    /* =============== Colors =============== */
    --hue-color: 219;
    --first-color: hsl(var(--hue-color), 100%, 55%);
    --first-color-lighter: hsl(var(--hue-color), 100%, 85%);
    --first-color-alt: hsl(var(--hue-color), 100%, 38%);
    --title-color: hsl(var(--hue-color), 10%, 15%);
    --text-color: hsl(var(--hue-color), 10%, 45%);
    --text-color-light: hsl(var(--hue-color), 10%, 65%);
    --input-color: hsl(var(--hue-color), 75%, 95%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /* =============== Fonts =============== */
    --body-font: 'Kanit', sans-serif;

    /* =============== Font Size =============== */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* =============== Font Weights =============== */
    --font-regular: 300;
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;

    /* =============== Margin Bottom =============== */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* =============== Z index =============== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/* =============== BASE =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header_height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* =============== Reusable =============== */
.section {
    padding: 4rem 0 2rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

/* =============== Layouts =============== */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* =============== NAVS =============== */
.nav {
    max-width: 968px;
    height: var(--header_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width:767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 3rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2rem;
}

/* .nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav_close:hover {
    color: var(--first-color-alt);
} */
.show-menu {
    bottom: 0;
}

/* =============== Home =============== */

.home_container {
    gap: 1rem;
}

.home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 1rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social_icon {
    font-size: 1.2rem;
    color: var(--first-color);
}

.home_social_icon:hover {
    color: var(--first-color-alt);
}


.home_blob {
    position: relative;
    width: 200px;
    fill: var(--first-color);
}

.home_blob_image {
    width: 130px;
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: var(--big-font-size);
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description {
    margin-bottom: var(--mb-2);
}

.home_scroll {
    display: none;
}

.home_scroll_button {
    color: var(--first-color);
    transition: .3s;
}

.home_scroll_button:hover {
    transform: translateY(.25rem);
}

.home_scroll_mouse {
    font-size: 2rem;
}

.home_scroll_name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll_arrow {
    font-size: 1.25rem;
}


/* =============== Buttons =============== */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}


/* =============== About =============== */
.about_image {
    width: 250px;
    border-radius: 1rem;
    justify-self: center;
    align-self: center;
}

.about_description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info_title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about_info_desc {
    font-size: var(--smaller-font-size);
}

.about_info_title,
.about_info_desc {
    text-align: center;
    display: block;
}

.about_button {
    display: flex;
    justify-content: center;
}

/* =============== Qualification =============== */
.qualification_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification_button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification_button:hover {
    color: var(--first-color);
}

.qualification_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
}

.qualification_calender {
    display: flex;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-0-5);
}

.qualification_data_icon {
    margin-right: var(--mb-0-25);
}

.qualification_attachments {
    display: flex;
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification_active[data-content] {
    display: block;
}

.qualification_button.qualification_active {
    color: var(--first-color);
}



/* =============== Skills =============== */
.skill_continer {
    row-gap: 0;
}

.skill_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skill_icon,
.skill_arrow {
    color: var(--first-color);
    font-size: 2rem;
}

.skill_icon {
    margin-right: var(--mb-0-75);
}

.skill_title {
    font-size: var(--h3-font-size);
}

.skill_subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skill_arrow {
    margin-left: auto;
    transition: .4s;
}

.skill_list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skill_title {
    display: flex;
    justify-content: space-between;
}

.skill_name,
.skill_number {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skill_bar,
.skill_percentage {
    height: 5px;
    border-radius: .25rem;
}

.skill_bar {
    background-color: var(--first-color-lighter);
}

.skill_percentage {
    display: block;
    background-color: var(--first-color);
}

.skill_python,
.skill_html,
.skill_arduino {
    width: 80%;
}

.skill_java,
.skill_js {
    width: 65%;
}

.skill_cpp,
.skill_mysql {
    width: 60%;
}

.skill_css {
    width: 75%;
}

.skill_rjs {
    width: 45%;
}

.skill_php,
.skill_rpi,
.skill_ai {
    width: 50%;
}

.skill_flask {
    width: 40%;
}

.skill_django {
    width: 30%;
}

.skill_close .skill_list {
    height: 0;
    overflow: hidden;
}

.skill_open .skill_list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skill_open .skill_arrow {
    transform: rotate(-180deg);
}